*.diff
*.orig
*.patch
*.rej
*.pth
*.alipay.net
*.o
*.pyc
*.pyo
*.txt
*.jpg
*.png
*.pdf
*.out
*.cwnd
*.dat
*.log
*.mob
*.pcap
*.plt
*.routes
*.tr
[D|U]l[A-Z][a-z]*Stats.txt

\#*#
~*

testpy-output

bindings/python/pybindgen/

ms_print.*
massif.*
coverity
TAGS

.lock-waf_*_build
.waf*

build-dir/
build/
/.cproject
/.project

version.cache
__pycache__/
rl_script/__pycache__
_cache.py
rl_script/traces
rl_script/performance_records/*
rl_script/ckpt_dir
